@import "tailwindcss";

* {
  background-color: inherit;
}

html {
  background: #f8f8ff;
  background-color: #f8f8ff;
}

:root {
  --background: #f8f8ff;
  --foreground: #111419;
  --primary: #dc2626;
  --secondary: #d6dbdb;
  
  /* Custom font styles */
  --font-display: 'Schibsted Grotesk', sans-serif;
  --font-body: 'Schibsted Grotesk', sans-serif;
  --font-mono: 'Courier New', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-display);
  --font-body: var(--font-body);
  --font-mono: var(--font-mono);
}

body {
  background: #f8f8ff;
  background-color: #f8f8ff;
  color: var(--color-foreground);
  font-family: var(--font-body);
}

/* text styles */
.text-title {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 1.5rem; /* 24px */
  color: var(--foreground);
}

.text-large {
  font-family: var(--font-display);
  font-weight: 800;
  font-size: 2.5rem; /* 40px */
  color: var(--foreground);
}

.text-body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1rem; /* 19.2px */
  color: gray-600;
}

/* Layout container - controls max-width for entire site */
.layout-container {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.header-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo ribbon styles */
.logo-container {
  background-color: var(--foreground);
  display: flex;
  height: 200px;
  width: 120px;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 25px;
  top: 0
}

.nav-link {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--foreground);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

/* Override container constraints for mobile */
@media (max-width: 1023px) {
  .header-container {
    max-width: none;
    margin: 0;
    padding: 0;
    height: 60px
  }
}

/* Mobile Navigation Styles */
.mobile-logo-ribbon {
  position: absolute;
  left: 2.5rem;
  top: 0;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);
  width: 5.625rem;
}

.mobile-menu {
  background-color: var(--secondary);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  overflow-y: auto;
  padding: 1.5rem;
  max-width: 24rem;
}

.mobile-hamburger {
  color: var(--foreground);
}

.mobile-x-mark {
  color: var(--primary);
}